Package: com.tomaszpoliszuk.lowpowermodeeventsforactivator
Name: Low Power Mode Events for Activator
Version: 1.0
Architecture: iphoneos-arm
Depends: firmware (>= 9.0), mobilesubstrate, libactivator
Description: Events for Activator that let you trigger Activator Listeners when Low Power Mode is enabled or disabled
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: Tomasz Poliszuk
Sponsor: thebigboss.org <http://thebigboss.org>
Section: Addons (Activator)
dev: tomaszpoliszuk
Tag: purpose::extension
